@model List<MVCLabb.Models.Photo>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gallery</h2>
<p>Here are some photos</p>
<div class="row">
    @foreach (var photo in Model)
    {
        <div class="col-sm-3 col-md-4">
            <div class="thumbnail">
                <img src="/Image/@photo.PhotoName" />
                <div class="caption">
                    <h4>PhotoID: @photo.PhotoID</h4>
                    <h4>PhotoName: @photo.PhotoName</h4>
                    Comments:
                    
                        <h4>@photo.PhotoComment</h4>
                   
                        
                    
                    
                    @Html.ActionLink("Show Picture", "ShowImage", "Gallery", new { id = photo.PhotoID }, null)
                    @Html.ActionLink("Delete Picture", "DeletePicture", "Gallery", new { id = photo.PhotoID }, null)
                    @Html.ActionLink("Add Comment", "AddComment", "Gallery", new { id = photo.PhotoID }, null)
                </div>
            </div>
        </div>



        @*<img src="/Image/@photo.PhotoName"/>*@
        <div>
            @*@Html.ActionLink("Show Picture", "ShowImage","Gallery",new { id=photo.PhotoID},null)*@
        </div>
    }
</div>
